{% extends "layout.html" %}
{% block content %}

<div class="row text-center">
    <div class="col-md"></div>
    <div class="col-md">
        <h1>My Blog with template inheritance!</h1>
        <h2>Made with Python's Flask</h2>
    </div>
    <div class="col-md"></div>
</div>

<div class="row">
    <div class="col-md"></div>
    <div class="col-md">
    <img src="../static/images/reshot_com_illustrations_astronaut_kevin.png" class="img-fluid" alt="...">
    </div>
    <div class="col-md"></div>
</div>

{% endblock %}